.upcoming {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: black;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.upcoming h1 {
    text-decoration: underline;
    align-self: center;
    color: #D4B63C;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: #667f57;
    border-radius: 19px;
    margin: 0rem auto 0 auto;
}

.event-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.upcoming a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #223008;
    padding: 0.5rem 1rem;
    text-align: center;
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background-color: #859F71;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 300px;
    min-height: 200px;
}

.event-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.pagination {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
    text-align: center;
}

.pagination button {
    padding: 0.5rem 1rem;
    background-color: #667f57;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.pagination button:hover {
    background-color: #556b45;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-size: 1rem;
    font-weight: bold;
    color: #223008;
}

.pagination-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1330px) {
    .event-cards {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media only screen and (max-width: 660px) {
    .event-cards {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}

@media only screen and (max-width: 356px) {
    .upcoming h1 {
        font-size: 1.75rem;
    }

    .event-card {
        width: 290px;
    }
}


